<div class="l-header-hamburger">
  <a href="#" class="hamburger js-hamburger " >
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
  </a>
</div>

<div class="nav js-nav">
  <ul class="nav-list">
    <li class="nav-item">
    <a href="#" class="nav-link">TOP</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">Facebook</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">Twitter</a>
    </li>
  </ul>
</div>
